body {    
    background-color: black;
    color: lightgray;
    font-size: medium;
}

body.handHeld {
    font-size: small;
}

h1 {
    text-align: center;
}

#title {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.handHeld #title {
    margin-bottom: 10px;
}

#title span {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.handHeld #title span {
    font-size: small;
}

.rightMenu {
    position: absolute;
    right: 30px;
}

.handHeld .rightMenu {
    right: 0px;
}

.title {
    text-align: center;
}

#instruct {
    text-align: center;
    margin-bottom: 10px;
}

.handHeld #instruct {
    margin-bottom: 5px;
}

#PatternPlanetsCanvas {
    padding: 5px;
    width: 99%;
    margin-left: auto;
    margin-right: auto;
}

.handHeld #PatternPlanetsCanvas {
    padding: 10px;
}

.success {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.handHeld .success {
    font-size: 9px;
    background-color: #FFF44F;
    opacity: 0.5;
    padding: 4px;
    border-radius: 4px;
}


#buttonBar {
    position: absolute;
    z-index: 2; 
    text-align: center;
}

button, select {    
    padding: 5px;
}

#about {
    position: absolute;
    right: 54px;
    top: 37px;
    z-index: 3;
    background-color: black; 
    border: thin solid darkgray;
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    border-radius: 10px;
    -moz-box-shadow: 10px 10px 5px #2d2d2d;
    -webkit-box-shadow: 10px 10px 5px #2d2d2d;
    box-shadow: 10px 10px 5px #2d2d2d;    
    padding: 10px;
    width: 500px;
    text-align: left; 
}

.handHeld #about {
    right: 0px;
    width: auto;
}

a, a:visited {
    text-decoration: none;
    font-style: italic;
    color: lightblue;
    font-size: medium;
}

.handHeld a {
    font-size: small;
}

.handHeld #about {
    right: 0px;
    width: auto;
}

.iPad {
    display: none;
}